.nav_container {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_left_wrapper {
  display: flex;
  align-items: center;
  margin-left: 35px;
}

.nav_right_wrapper {
  display: flex;
  align-items: center;
  margin-right: 100px;
}
